/*
Error: Invalid CSS after "...a(0, 0, 0, .10)": expected "{", was ";"
        on line 29 of C:/Users/bradr/Dropbox/CE/Essential Templates/essential-templates-2020/components/_album-1.scss
        from line 33 of C:\Users\bradr\Dropbox\CE\Essential Templates\essential-templates-2020\style.scss

24:         display: flex;
25:         justify-content: flex-end;
26:         a {
27:             background: $white;
28: <<<<<<< HEAD
29:             box-shadow: 0 0 5px 2px rgba(0, 0, 0, .10);
30: =======
31:             box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
32: >>>>>>> bcf0515835ae39894514fd50e9c45d305b817bd5
33:             border-radius: 5px;
34:             display: flex;

Backtrace:
C:/Users/bradr/Dropbox/CE/Essential Templates/essential-templates-2020/components/_album-1.scss:29
C:\Users\bradr\Dropbox\CE\Essential Templates\essential-templates-2020\style.scss:33
C:/Users/bradr/Dropbox/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:1278:in `expected'
C:/Users/bradr/Dropbox/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:1208:in `expected'
C:/Users/bradr/Dropbox/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:1203:in `tok!'
C:/Users/bradr/Dropbox/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:677:in `block'
C:/Users/bradr/Dropbox/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:747:in `declaration_or_ruleset'
C:/Users/bradr/Dropbox/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:697:in `block_child'
C:/Users/bradr/Dropbox/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:689:in `block_contents'
C:/Users/bradr/Dropbox/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:678:in `block'
C:/Users/bradr/Dropbox/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:747:in `declaration_or_ruleset'
C:/Users/bradr/Dropbox/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:697:in `block_child'
C:/Users/bradr/Dropbox/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:689:in `block_contents'
C:/Users/bradr/Dropbox/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:678:in `block'
C:/Users/bradr/Dropbox/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:747:in `declaration_or_ruleset'
C:/Users/bradr/Dropbox/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:697:in `block_child'
C:/Users/bradr/Dropbox/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:689:in `block_contents'
C:/Users/bradr/Dropbox/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:678:in `block'
C:/Users/bradr/Dropbox/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:670:in `ruleset'
C:/Users/bradr/Dropbox/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:696:in `block_child'
C:/Users/bradr/Dropbox/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:689:in `block_contents'
C:/Users/bradr/Dropbox/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:137:in `stylesheet'
C:/Users/bradr/Dropbox/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:41:in `parse'
C:/Users/bradr/Dropbox/Koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:414:in `_to_tree'
C:/Users/bradr/Dropbox/Koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:321:in `to_tree'
C:/Users/bradr/Dropbox/Koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:327:in `block in visit_import'
C:/Users/bradr/Dropbox/Koala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:88:in `block in with_import'
C:/Users/bradr/Dropbox/Koala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:135:in `with_frame'
C:/Users/bradr/Dropbox/Koala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:88:in `with_import'
C:/Users/bradr/Dropbox/Koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:326:in `visit_import'
C:/Users/bradr/Dropbox/Koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Users/bradr/Dropbox/Koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
C:/Users/bradr/Dropbox/Koala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `block in with_base'
C:/Users/bradr/Dropbox/Koala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:135:in `with_frame'
C:/Users/bradr/Dropbox/Koala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `with_base'
C:/Users/bradr/Dropbox/Koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `visit'
C:/Users/bradr/Dropbox/Koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
C:/Users/bradr/Dropbox/Koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:52:in `map'
C:/Users/bradr/Dropbox/Koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:52:in `visit_children'
C:/Users/bradr/Dropbox/Koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:171:in `block in visit_children'
C:/Users/bradr/Dropbox/Koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
C:/Users/bradr/Dropbox/Koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:170:in `visit_children'
C:/Users/bradr/Dropbox/Koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `block in visit'
C:/Users/bradr/Dropbox/Koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:190:in `visit_root'
C:/Users/bradr/Dropbox/Koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Users/bradr/Dropbox/Koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:161:in `visit'
C:/Users/bradr/Dropbox/Koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:10:in `visit'
C:/Users/bradr/Dropbox/Koala/rubygems/gems/sass-3.5.2/lib/sass/tree/root_node.rb:36:in `css_tree'
C:/Users/bradr/Dropbox/Koala/rubygems/gems/sass-3.5.2/lib/sass/tree/root_node.rb:20:in `render'
C:/Users/bradr/Dropbox/Koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:290:in `render'
C:/Users/bradr/Dropbox/Koala/rubygems/gems/sass-3.5.2/lib/sass/exec/sass_scss.rb:400:in `run'
C:/Users/bradr/Dropbox/Koala/rubygems/gems/sass-3.5.2/lib/sass/exec/sass_scss.rb:63:in `process_result'
C:/Users/bradr/Dropbox/Koala/rubygems/gems/sass-3.5.2/lib/sass/exec/base.rb:52:in `parse'
C:/Users/bradr/Dropbox/Koala/rubygems/gems/sass-3.5.2/lib/sass/exec/base.rb:19:in `parse!'
C:/Users/bradr/Dropbox/Koala/rubygems/gems/sass-3.5.2/bin/sass:13:in `<top (required)>'
C:/Users/bradr/Dropbox/Koala/bin/sass:22:in `load'
C:/Users/bradr/Dropbox/Koala/bin/sass:22:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...a(0, 0, 0, .10)\": expected \"{\", was \";\"\A         on line 29 of C:/Users/bradr/Dropbox/CE/Essential Templates/essential-templates-2020/components/_album-1.scss\A         from line 33 of C:\Users\bradr\Dropbox\CE\Essential Templates\essential-templates-2020\style.scss\A \A 24:         display: flex;\A 25:         justify-content: flex-end;\A 26:         a {\A 27:             background: $white;\A 28: <<<<<<< HEAD\A 29:             box-shadow: 0 0 5px 2px rgba(0, 0, 0, .10);\A 30: =======\A 31:             box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);\A 32: >>>>>>> bcf0515835ae39894514fd50e9c45d305b817bd5\A 33:             border-radius: 5px;\A 34:             display: flex;"; }
