// VARIABLES
$nav-top-alignment-in-header: flex-end; // justify-content value
$nav-top-default-font-color: $color-secondary;
$nav-top-hover-font-color: $color-primary;
$nav-top-selected-font-color: $nav-top-hover-font-color;
$nav-top-mobile-default-font-color: $nav-top-default-font-color;
$nav-top-mobile-hover-font-color: $nav-top-hover-font-color;
$nav-top-mobile-selected-font-color: $nav-top-selected-font-color;
$nav-top-font-family: $base-font-sans-serif;
$nav-top-font-size: 1.4rem;
$nav-top-font-weight: 600;
$nav-top-font-text-transform: none;
$nav-top-font-letter-spacing: 0;
$nav-top-li-top-bott-padding: 1.7rem;
$nav-top-li-left-right-padding: 3rem;
$nav-top-li-LR-padding-smaller-brkpt: 1365px;
$nav-top-li-LR-padding-smaller: 2.7rem;
$nav-top-li-padding: $nav-top-li-top-bott-padding $nav-top-li-left-right-padding;
$nav-top-li-bullet-content-value: '\2022'; // bullet = '\2022'
$nav-top-li-bullet-size: 1.4rem;
$nav-top-li-bullet-color: #e4e4e4;

// HEADER v1
header.opt1 {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1); 
    z-index: 99;
    position: relative;
    background-color: $white;
    .navbar {
        padding: 0 5rem;
        align-items: stretch;
        height: $navbar-height;
        @media (min-width:$desktop-nav-min-brkpt) {
            @media (max-width: 1299px) {
                padding: 0 3rem;
            }
        }
        .navbar-brand {
            align-self: center;
            margin: 0;
            padding: 0;
            height: $navbar-height;
            display: flex;
            align-items: center;
            img {
                max-width: 100%;
            }           
        }
        .navbar-collapse {
            justify-content: $nav-top-alignment-in-header;
            align-items: stretch;
            position: relative;
            z-index: 9;
            .navbar-nav {
                .dropdown {
                    justify-content: space-between;
                    flex-wrap: wrap;
                    &.open {
                        > .dropdown-toggle .caret:before {
                            content: "\eab0";
                        }
                    }
                    &.dropleft,&.dropright {
                        .dropdown-toggle:before {
                            content: none;
                        }
                    }
                }
                .dropdown-toggle {
                    display: flex;
                    align-items: center;
                    flex: 0 1 8rem;
                    justify-content: center;
                    cursor: pointer;
                    @media (min-width:$desktop-nav-min-brkpt) {
                        display: none;
                    }
                    .caret {
                        font-size: 0;
                        &:before {
                            @include mobile-nav-caret-font;
                            content: "\eaad";
                            color: #b0b0b0;
                            font-size: 1.2rem;
                        }                        
                    }
                    &:after {
                        content: none;
                    }
                }
                > li.open .dropdown-toggle .caret:before {
                    color: $nav-top-selected-font-color;
                }
                .dropdown-menu {                    
                    margin: 0;                    
                    border-radius: 0;                    
                    padding: 0.9rem 0 0.9rem 2rem;      
                    transition: .2s;
                    @media (min-width:$desktop-nav-min-brkpt) {
                        padding: $subnav-padding;
                        min-width: $subnav-min-width;
                        background: $nav-sub-default-bg-color;
                        top: $subnav-top-position;
                        left: $subnav-left-position; 
                        display: block;
                        transform-origin: top;
                        transform: scaleY(0) translateX($subnav-translateX) !important;
                    }
                    .nav-link {
                        color: $nav-top-selected-font-color;
                        font-size: 1.4rem;
                        font-weight: 400;
                        padding: 0.9rem 3rem;
                        text-align: left;
                        letter-spacing: 0;
                        text-transform: none;
                        font-family: $nav-sub-font-family;
                        line-height: 1.3;
                        transition: all 0.3s ease-in-out;
                        &:hover,&:focus {
                            text-decoration: underline;
                        }
                        @media (min-width:$desktop-nav-min-brkpt) {
                            color: $nav-sub-default-font-color;
                            font-size: $nav-sub-font-size;
                            font-weight: $nav-sub-font-weight;
                            letter-spacing: $nav-sub-font-letter-spacing;
                            text-transform: $nav-sub-font-text-transform;
                            line-height: $nav-sub-line-height;
                            padding: $nav-sub-font-padding;
                            text-align: $nav-sub-font-text-align;
                            &:hover,&:focus {
                                text-decoration: $nav-sub-font-hover-decoration;
                                background: $nav-sub-font-hover-bgcolor;
                            }
                        }
                    }
                }
                // TOP NAV
                > li {
                    align-items: stretch;
                    display: flex;
                    text-align: center;
                    border-bottom: 1px solid #e4e4e4;
                    &:last-child {
                        > a.nav-link {
                            color: $nav-top-selected-font-color;
                            padding-right: 0;
                        }
                    }
                    > a.nav-link {
                        display: flex;
                        align-items: center;
                        transition: all 0.3s ease-in-out;
                        color: $nav-top-default-font-color;
                        font-family: $nav-top-font-family;
                        font-size: $nav-top-font-size;
                        font-weight: $nav-top-font-weight;
                        text-transform: $nav-top-font-text-transform;
                        letter-spacing: $nav-top-font-letter-spacing;
                        padding: $nav-top-li-padding;
                        @media (max-width:$nav-top-li-LR-padding-smaller-brkpt) {
                            padding-left: $nav-top-li-LR-padding-smaller;
                            padding-right: $nav-top-li-LR-padding-smaller;
                        }
                        &:hover,&:focus {
                            color: $nav-top-hover-font-color;
                        }
                        span[class*="nc-icon"] {
                            font-size: 2.1rem;
                            margin: 0 1rem 1rem 0;
                        }
                    }
                    &.open, &.selectedItem, &.selectedParent, &.selectedGrandParent {
                        > a.nav-link {
                            color: $nav-top-selected-font-color;
                        }                        
                    }
                    li {
                        &.selectedItem > .nav-link,
                        &.selectedParent > .nav-link,
                        &.selectedGrandParent > .nav-link,
                        &.open > .nav-link {
                            text-decoration: $nav-sub-font-hover-decoration;
                        }                        
                    }
                    &[id$="#{$priv-home-menu-id}"].selectedItem {
                        > a.nav-link {
                            color: $nav-top-default-font-color;
                            &:hover,&:focus {
                                color: $nav-top-hover-font-color;
                            }
                        }
                        &.open, &:hover {
                            > a.nav-link {
                                color: $nav-top-hover-font-color;
                            }
                        }
                    }
                    // BEGIN DESKTOP SPECIFIC
                    @media (min-width:$desktop-nav-min-brkpt) {
                        border: none;
                        flex-wrap: nowrap !important;
                        &:before {
                            content: $nav-top-li-bullet-content-value;
                            font-size: $nav-top-li-bullet-size;
                            color: $nav-top-li-bullet-color;
                            align-items: center;
                            display: flex;
                        }
                        &:first-child {
                            &:before {
                                content: none;
                            }
                        }
                        &:hover {
                            > a.nav-link {
                                color: $nav-top-hover-font-color;
                            }
                        }
                        &.open > .dropdown-menu {
                            display: block;
                            transform: scaleY(1) translateX($subnav-translateX) !important;
                        }
                        > .dropdown-menu {
                            transform: scaleY(0) translateX(0);
                        }
                        > a.nav-link:focus ~ .dropdown-menu {
                            display: block;
                            transform: scaleY(1) translateX($subnav-translateX) !important;
                        }
                        &:hover > .dropdown-menu {                            
                            body:not(.isMobile) & {
                                display: block;
                                transform: scaleY(1) translateX($subnav-translateX) !important;
                            }
                        }
                        li {
                            &.dropdown {
                                > .dropdown-menu {
                                    display: block;
                                    transform: scaleY(1) scaleX(0) translateX(0) !important;
                                    top: calc(-#{$subnav-top-bott-padding} - 1px);
                                    transform-origin: left;
                                    left: 100%;
                                }
                                &.open > .dropdown-menu,
                                &:hover > .dropdown-menu,
                                > a.nav-link:focus ~ .dropdown-menu {
                                    transform: scaleY(1) scaleX(1) translateX(0) !important;
                                }
                                &.dropleft,&.dropright {
                                    &.open > .dropdown-menu,
                                    &:hover > .dropdown-menu,
                                    > a.nav-link:focus ~ .dropdown-menu {
                                        transform: scaleY(1) scaleX(1) translateX(0) !important;
                                    }
                                }
                                &.dropleft > .dropdown-menu {
                                    transform-origin: right;
                                    left: auto !important;
                                }
                                &.dropright > .dropdown-menu {
                                    transform-origin: left;
                                    right: auto !important;
                                }
                            }
                            &.selectedItem > .nav-link,
                            &.selectedParent > .nav-link,
                            &.selectedGrandParent > .nav-link,
                            &:hover > .nav-link,
                            &.open > .nav-link {
                                text-decoration: $nav-sub-font-hover-decoration;
                                background: $nav-sub-font-hover-bgcolor;
                            }
                        }
                    }                    
                }
            }
        }
    }
}
