// MAIN CONTENT
.intro {
    margin-top: 7rem;
    margin-bottom: 7.5rem;    
    text-align: center;
    @media (max-width:1024px) {
        margin: 5rem auto;
        padding: 0 15px;
    }
    @media (max-width:767px) {
        margin: 5rem auto;
    }
}

.one-column, .two-column {
    margin: 6.1rem auto 10rem;
    padding: 0 15px;
    @media (max-width:1024px) {
        margin: 5rem auto;
    }
}

.two-column {    
    .private.home & {
        max-width: 1200px;
        margin-top: 4rem;
        margin-bottom: 6rem;
        .col-lg-9 {
            @media (min-width:992px) {
                padding-right: 5rem;
            }
        }
        .col-lg-3 {
            .mpContent {
                background-color: $color-lightest;
                padding: 30px 15px;                
                @media screen and (min-width: 1200px) {
                    padding-right: 30px;
                    padding-left: 30px;
                }
                @media screen and (max-width: 1024px) {
                    padding: 20px 15px 35px 15px;
                }
                @media screen and (max-width: 991px) {
                    padding: 25px 15px;
                    text-align: center;
                }
                &.empty-sidebar-minipg {
                    padding: 0 !important;
                }
                &:not(:first-child) {
                    margin-top: 2rem;
                }
            }
        }
    }
}

