// VARIABLES
$articles-section-bg-color: $color-lightest;
$article-width-value: 570; // omit unit from value
$article-stack-max-breakpoint: 991px;
$article-postdate-color: #555555;
$article-postdate-text-transform: none;
$article-postdate-letter-spacing: 0;
$article-postdate-font-size: 1.5rem;
$article-postdate-font-weight: 400;
$article-title-font-family: $base-font-sans-serif2;
$article-title-default-color: $color-primary;
$article-title-hover-color: $article-title-default-color;
$article-title-text-transform: none;
$article-title-letter-spacing: 0;
$article-title-font-size: 1.8rem;
$article-title-line-height: 1.42;
$article-title-font-weight: 700;
$article-cta-icon-default-color: $color-secondary;
$article-cta-icon-hover-color: $article-cta-icon-default-color;

// ARTICLES v2 
.articles.opt2 {
    background: $articles-section-bg-color;
    padding: 2.5rem 3rem 50px;
    text-align: center;
    @media (max-width:$article-stack-max-breakpoint) {
        padding: 5rem 1.5rem;
    }
    .priv-hm-title {
        display: block;
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 34px;
        color: #2d4a99;
        text-align: left;
    }
    .view-all-link {
        @include view-all-link;
        letter-spacing: 2px;
        // display: block;
        float: none;
        margin-top: 2.5rem;
        
    }
    [id$="ArticlesWrapper"] {
       
        @media (max-width:$article-stack-max-breakpoint) {
            margin: 0 auto;
            max-width: #{$article-width-value}px;
        }
        .newsItem {
            padding: 15px 0;
            text-align: left;
            @media (max-width:$article-stack-max-breakpoint) {
                padding: 0 0 30px;
                &:last-child {
                    padding-bottom: 0;
                }
            }
        }
        .article-info {
            padding: 6rem 3.5rem 5.6rem;
            @media (max-width:$article-stack-max-breakpoint) {
                padding: 30px;
            }
        }
        .article-date {
            font-size: $article-postdate-font-size;
            font-weight: $article-postdate-font-weight;
            letter-spacing: $article-postdate-letter-spacing;
            text-transform: $article-postdate-text-transform;
            color: $article-postdate-color;
            margin-bottom: 2.2rem;
            @media (max-width:$article-stack-max-breakpoint) {
                margin-bottom: 1.5rem;
            }
        }
        .article-subject {
            color: $article-title-default-color;
            font-weight: $article-title-font-weight;
            font-size: $article-title-font-size;
            line-height: $article-title-line-height;
            margin-bottom: 1.63rem;
            text-transform: $article-title-text-transform;
            letter-spacing: $article-title-letter-spacing;
            font-family: $article-title-font-family;
            @media (max-width:$article-stack-max-breakpoint) {
                // margin-bottom: 1.8rem;
            }
        }
        .article-cta {
            font-size: 0;
            [class*="icon"] {
                transition: color 0.3s ease-in-out;
                font-size: 2.4rem;
                color: $article-cta-icon-default-color;
            }
        }
        .article-wrap {
            background: $white;
            display: flex;
            justify-content: center;
            flex-direction: column;
            width: 100%;
            box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
            transition: all 0.3s ease-in-out;
            &:hover,&:focus {
                text-decoration: none;
                box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
                .article-subject {
                    color: $article-title-hover-color;
                }
                .article-cta [class*="icon"] {
                    color: $article-cta-icon-hover-color;
                }
            }
        }
    }
    .newsPluginArchiveLink {
        display: none;
    }
}
