// VARIABLES
$cal-events-stack-max-breakpoint: 991px;
$cal-event-image-width: 399px;
$cal-date-background-color: $color-darkest;
$cal-date-hover-background-color: $color-darkest;
$cal-date-font-family: $base-font-sans-serif;
$cal-date-font-color: $white;
$cal-date-font-letter-spacing: 0;
$cal-date-font-weight: 300;
$cal-date-month-font-size: 2.4rem;
$cal-date-number-font-size: 5rem;
$cal-date-number-font-family: $base-font-sans-serif;
$cal-event-info-background-color: $color-lightest;
$cal-event-title-font-family: $base-font-serif;
$cal-event-title-font-color: $color-secondary;
$cal-event-title-font-size: 3.2rem;
$cal-event-title-font-weight: 400;
$cal-event-title-line-height: 1.28;
$cal-event-cta-link-font-family: $base-font-sans-serif;
$cal-event-cta-link-default-font-color: $color-secondary;
$cal-event-cta-link-hover-font-color: $color-tertiary;
$cal-event-cta-link-font-size: 1.6rem;
$cal-event-cta-link-default-font-weight: 300;
$cal-event-cta-link-hover-font-weight: 400;


// CALENDAR PLUGIN v1
.calendar.opt1 {
    font-family: $base-font-sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 5rem 15px 7.75% 15px;
    @media (max-width:$cal-events-stack-max-breakpoint) {
        text-align: center;
    }
    .view-all-link {
        @include view-all-link;
        @media (max-width:$cal-events-stack-max-breakpoint) {
            width: 100%;
            margin-top: 0;
        }
    }
    div[id$="EventsWrapper"] {
        clear: both;
        @media (max-width:$cal-events-stack-max-breakpoint) {
            margin-left: auto;
            margin-right: auto;
            max-width: 499px;
        }
        .event-date {
            display: flex;
            flex: 0 0 17rem;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background-color: $cal-date-background-color;
            text-transform: uppercase;
            line-height: 1;
            text-align: center;
            padding: 15px;
            transition: all 0.3s ease-in-out;
            @media (max-width:$cal-events-stack-max-breakpoint) {
                flex: 0 1 10rem;
            }
            br {
                display: none;
            }
            span {
                font-family: $cal-date-font-family;
                font-size: $cal-date-month-font-size;
                font-weight: $cal-date-font-weight;
                color: $cal-date-font-color;
                &.calDay {
                    font-size: $cal-date-number-font-size;
                    font-family: $cal-date-number-font-family;
                }
            }
        }
        .event-image {
            flex: 0 0 #{$cal-event-image-width};
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            position: relative;
            @media (max-width:1199px) {
                flex-shrink: 1;
            }
            @media (max-width:$cal-events-stack-max-breakpoint) {
                flex: 1 1 calc(100% - 10rem);
            }
            &:after {
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background: rgba($black,0);
                transition: background 0.3s ease-in-out; 
            }
            img {
                visibility: hidden;
                width: 100%;
                max-height: 100%;
                + img {
                    display: none;
                }
            }
        }
        .event-info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex-basis: 100%;
            background-color: $cal-event-info-background-color;            
            font-size: 0;            
            padding: 5rem 7rem 3rem 5.7rem;
            @media (max-width:$cal-events-stack-max-breakpoint) {
                padding: 1.5rem;
                flex: 1 1 auto;
            }
            .event-title {
                @extend %h2;
                color: $cal-event-title-font-color;
                font-family: $cal-event-title-font-family;
                font-size: $cal-event-title-font-size;
                font-weight: $cal-event-title-font-weight;
                line-height: $cal-event-title-line-height;
                margin-bottom: 0;
            }
            .event-cta {
                color: $cal-event-cta-link-default-font-color;
                font-family: $cal-event-cta-link-font-family;
                font-size: $cal-event-cta-link-font-size;
                font-weight: $cal-event-cta-link-default-font-weight;
                margin-top: 2rem;
                transition: color 0.3s ease-in-out;
                span {
                    margin-left: 8px;
                    font-size: inherit;
                }
            }
        }
        > a.event-link {
            display: flex;
            justify-content: center;
            margin-bottom: 1rem;
            text-decoration: none;
            &:hover,&:focus {
                text-decoration: none;
                .event-date {
                    background-color: $cal-date-hover-background-color;
                }
                .event-info .event-cta {
                    color: $cal-event-cta-link-hover-font-color;
                    font-weight: $cal-event-cta-link-hover-font-weight;
                }
                .event-image:after {
                    background: rgba($black,0.5);
                }
            }
            @media (max-width:$cal-events-stack-max-breakpoint) {
                flex-wrap: wrap;
            }
        }
    }
}
