// VARIABLES
$quick-links-stack-max-breakpoint: 768px;

// QUICK LINKS v1
.quick-links.opt1 {
    min-height: 400px;
    background-size: cover;
    background-position: center center;
    background-color: $color-darkest;
    text-align: center;
    color: $white;
    font-size: 0;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    padding: 3rem 1.5rem;
    @media (max-width:$quick-links-stack-max-breakpoint) {
        min-height: 290px;
    }
    > .mpContent {
        font-size: 0;
        img {
            visibility: hidden;
            height: 0;
            margin: 0;
        }
        &:after {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            content: "";
            background: rgba($color-primary, 0.7);
        }
    }
    > .clickToEditDiv {
        position: absolute;
        left: 0;
        top: 0;
    }
    .welcome {
        position: relative;
        margin-bottom: 3rem;
        font-size: $base-font-size;
        line-height: $base-line-height;
        color: $white;
        h1 {
            line-height: 1;
            margin-bottom: 0;
            color: $white;
            @media screen and (max-width:$quick-links-stack-max-breakpoint) {
                font-size: 2.8rem;
            }
        }
    }
    .nc-icon-outline {
        position: relative;
        color: $white;
        font-size: 3.6rem;
        width: 100%;
        display: inline-block;
        margin: 0 auto 12px;
        text-decoration: none !important;
        @media (max-width:$quick-links-stack-max-breakpoint) {
            margin: 0;
            flex: 0 1 5rem;
            display: inline-block;
            color: $white;
            font-size: 2rem;
            &:before {
                padding: 0 1.5rem;
                text-decoration: none;
                display: inline-block;
            }
        }                        
    }
    ul {
        list-style: none;
        margin: 0 auto;    
        padding: 0;
        width: 100%;
        max-width: 1250px;
        float: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        @media (max-width:$quick-links-stack-max-breakpoint) {
            display: inline-block;
            width: auto;
        }
        li {
            display: inline-block;
            padding: 15px 5px;
            margin: 0;
            font-size: 0;
            flex: 0 1 250px;
            vertical-align: top;
            transition: all .3s ease-in-out;                    
            @media screen and (max-width:$quick-links-stack-max-breakpoint) {
                display: block;
                padding: 0 0 15px 0;
            }
            a {
                display: inline-block;
                width: 100%;
                font-size: 2.1rem;
                font-family: $base-font-sans-serif;
                font-weight: 400;
                text-transform: none;
                text-align: center;
                color: $white;
                line-height: 1.2;
                letter-spacing: 0;
                text-decoration: none;
                position: relative;
                transition: opacity 0.3s ease-in-out;
                &:hover,&:focus {
                    opacity: 0.75;
                }
                body.user-is-tabbing & {
                    &:focus {
                        text-decoration: none;
                        outline-style: dashed;
                        outline-color: $white;
                        outline-width: 2px;
                        opacity: 1;
                    }
                }
                @media screen and (max-width:$quick-links-stack-max-breakpoint) {
                    padding: 0;
                    text-align: left;
                    display: flex;
                    align-items: center;
                    text-decoration: none !important;
                }
            }            
        }                
    }
}