.reference-guide {
    margin-top: $navbar-height;
    .c1 {
        background: $color-primary;
    }
    .c2 {
        background: $color-secondary;
    }
    .c3 {
        background: $color-tertiary;
    }
    .c4 {
        background: $color-quaternary;
    }
    .c5 {
        background: $color-quinary;
    }
    .c6 {
        background: $white;
    }
    .c7 {
        background: $white;
    }
    .c8 {
        background: $white;
    }
    .c9 {
        background: $white;
    }
}