html {
    font-size: ($root-font-size-without-unit / 16) * 1em;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-size: $base-font-size;
    color: $base-font-color;
    font-weight: $base-font-weight;
    font-family: $base-font-family;
    -moz-osx-font-smoothing: grayscale;
    &.page {
        background-color: $white;
        background-repeat: repeat;
        //line-height: $base-line-height;
        @include font-smoothing;
    }
}

.mpContent, .reference-guide {
    ol, ul {
        line-height: $base-line-height;
        body.isMobile & {
            padding-inline-start: 40px;
        }
    }
}

.clickToEditDiv {
    font-size: 0;
}

a {
    color: $base-font-color;
    &:hover,&:focus {
        color: $base-font-color;
    }
}

a:focus, button:focus, input:focus {
    outline-width: 2px;
    outline-style: solid;
    outline-color: Highlight;
    @media (-webkit-min-device-pixel-ratio:0) {
        outline-color: -webkit-focus-ring-color;
        outline-style: auto;
    }
}

body.dynamicpageedit {
    table {
        border-collapse: separate;
    }    
}

.eventMgrPop #eventMgrWrapper {
    height: 100% !important;
}

// BEGIN IE SPECIFIC
html._Telerik_IE9, html._Telerik_IE9 body {
    width: 100% !important;
    height: 100% !important;
}
