html {
    font-size: calc((#{$root-font-size-without-unit} / 16) * 1em);
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-size: $base-font-size;
    color: $base-font-color;
    font-weight: $base-font-weight;
    font-family: $base-font-family;
    -moz-osx-font-smoothing: grayscale;
    &.page {
        background-color: $white;
        background-repeat: repeat;
        //line-height: $base-line-height;
        @include font-smoothing;
    }
}

.mpContent, .reference-guide {
    ol, ul {
        line-height: $base-line-height;
        body.isMobile & {
            padding-inline-start: 40px;
        }
    }
}

.clickToEditDiv {
    font-size: 0;
}

a {
    color: $link-color;
    &[onclick*="LaunchMemPickerWin"] {
        text-decoration: $link-hover-decoration !important;
        &:hover,&:focus {
            text-decoration: none !important;
        }
    }
    &:hover,&:focus {
        color: $link-hover-color;
    }
    &:not(.abut):not(.abut-secondary) {
        .mpContent & {
            text-decoration: $link-hover-decoration;
            &:hover,&:focus {
                text-decoration: none;
            }
        }
    }
}

a:focus, button:focus, input:focus {
    outline-width: 2px;
    outline-style: solid;
    outline-color: Highlight;
    @media (-webkit-min-device-pixel-ratio:0) {
        outline-color: -webkit-focus-ring-color;
        outline-style: auto;
    }
}

body.dynamicpageedit {
    table {
        border-collapse: separate;
    }    
}

.eventMgrPop {
    #eventMgrWrapper {
        //height: 100% !important;
        min-height: 100% !important;
    }
    #floatingToolbar .floatRight li {
        padding: 0;
    }
    p {
        line-height: 1;
        font-size: 12px;
    }
    h3 {
        font-size: 16px;
        letter-spacing: 0;
        margin-bottom: 10px;
    }
}

// BEGIN IE SPECIFIC
html._Telerik_IE9, html._Telerik_IE9 body {
    width: 100% !important;
    height: 100% !important;
}

.nl-container {
    p, ol, ul {
        color: inherit !important;
        font-family: inherit !important;
        font-weight: inherit !important;
    }
    *:not(strong):not([style*="font-weight"]) {
        font-weight: inherit !important;
    }
    *:not([style*=" color:"]):not([style^="color:"]):not([style*=";color:"]) {
        color: inherit !important;
    }
    *:not([style*="font-family"]) {
        font-family: inherit !important;
    }
}

table[id*="_dpEditor"] {
    border-collapse: separate;
}
