h1, .h1, %h1 {
    font-family: $base-font-sans-serif2;
    color: $color-primary;
    font-size: $h1-size;
    font-weight: 700;
    line-height: 1.225;
    margin-bottom: 0.4em;
    letter-spacing: 0;
    text-transform: none;
    .content .mpContent & {
        margin-bottom: 0.7em;
    }
}

h2, .h2, %h2 {
    font-family: $base-font-sans-serif2;
    color: $color-primary;
    font-size: $h2-size;
    font-weight: 500;
    line-height: 1.27;
    margin-bottom: 1em;
    letter-spacing: 0;
    text-transform: none;
    .content .mpContent & {
        /*margin-bottom: 1em;*/
    }
}

h3, .h3, %h3 {
    font-family: $base-font-sans-serif2;
    color: $color-primary;
    font-size: $h3-size;
    font-weight: 700;
    line-height: 1.42;
    margin-bottom: 0.6em;
    letter-spacing: 0;
    text-transform: none;
}

h4, .h4, %h4 {
    font-family: $base-font-sans-serif2;
    color: $color-primary;
    font-size: $h4-size;
    font-weight: 600;
    line-height: 1.19;
    margin-bottom: 0.6em;
    letter-spacing: 0;
    text-transform: none;
}

h5, .h5, %h5 {
    font-family: $base-font-sans-serif2;
    color: $color-primary;
    font-size: $h5-size;
    font-weight: 600;
    line-height: 1.22;
    margin-bottom: 0.6em;
    letter-spacing: 0;
    text-transform: none;
}

h6, .h6, %h6 {
    font-family: $base-font-sans-serif;
    color: $color-secondary;
    font-size: $h6-size;
    font-weight: 600;
    line-height: 1.31;
    margin-bottom: 2em;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
}

p {
    margin: 0;
    font-family: $base-font-family;
    font-size: $base-font-size;
    color: $base-font-color;
    letter-spacing: $base-font-letter-spacing;
    line-height: $base-line-height;
    font-weight: $base-font-weight;
    .mpContent &, .reference_guide & {
        margin: 0 0 #{$base-line-height}em;
    }
    .mpContent h1 + & {
        margin-top: 2rem;
    }
}

.mpContent {
    h1,h2,h3,h4,h5,h6,p {
        &:last-child {
            margin-bottom: 0;
        }
    }
}
