// BEGIN CONTENT PAGE COLLAGE
.collage.opt2 {
    margin: 0 25px;
    color: $white;
    //background-color: #fff;
    //margin: 0;
    border: none;
    border-radius: 0;
    box-shadow: none;
    font-size: 0;
    overflow: hidden;
    position: relative;
    padding-top: 39%;
    @media screen and (max-width:767px) {
        padding-top: 100%;
    }
    @media screen and (max-width:768px) {
        margin: 0 15px;
    }
    .mpContent {
        position: relative;
        * {
            color: $white;
        }
        img {
            @media screen and (min-width:768px) {
                position: absolute;
            }
        }
    }
    .no-collage-img {
        @media screen and (max-width:767px) {
            padding: 30px 15px;
        }
        .mpContent {        
            width: 100%;
            text-align: center;
            @media screen and (min-width:768px) {
                //position: absolute !important;
                //height: auto !important;
                //position: absolute;
                //top: 50%;
                //transform: translateY(-50%);
                //left: 0;
            }
        }
    }
    .clickToEditDiv {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    @media screen and (max-width:1024px) {
        //margin-left: 15px;
        //margin-right: 15px;
    }
    > div {
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        height: 100%;
        position: absolute;
        > div {
            display: inline-block;
            vertical-align: top;
            height: 100%;
            &:first-child {
                width: 40%;
                @media screen and (min-width:768px) {
                    padding-right: 12px;
                }
                @media screen and (max-width:767px) {
                    width: 100%;
                }
            }
            &:nth-child(2) {
                width: 40%;
                padding-right: 12px;
            }
            &:last-child {
                width: 20%;
            }
            @media screen and (max-width:767px) {
                &:nth-child(n+2) {
                    display: none;
                    &.hasCalloutLink, &.hasCalloutLink > .hasCalloutLink {
                        display: block;
                    }
                }
            }
            > div {
                display: inline-block;
                position: relative;
                vertical-align: top;
                .mpContent {
                    height: 100%;
                    background-size: cover;
                    background-position: 50% 50%;
                    img {
                        opacity: 0;
                        @media screen and (max-width:476px) {
                            margin-top: 0;
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }
    .one {
        width: 50%;
        height: 47%;
        padding-right: 12px;
    }
    .two {
        width: 50%;
        height: 47%;
        //padding-bottom: 15px;
    }
    .three {
        width: 100%;
        height: 53%;
        //padding-right: 15px;
        padding-top: 12px;
    }
    .four {
        width: 100%;
        height: 71%;
    }
    .five {
        width: 100%;
        height: 29%;
        padding-top: 12px;
    }
    .six {
        width: 100%;
        height: 60%;
    }
    .seven {
        width: 100%;
        height: 40%;
        padding-top: 12px;
    }
    .no-collage-img {
        &.one > .mpContent {
            background-color: $color-primary;           
        }
        &.two > .mpContent {
            background-color: $color-quaternary;
        }
        &.three > .mpContent {
            background-color: $color-secondary;           
        }
        &.four > .mpContent {
            background-color: $color-lightest;
        }
        &.five > .mpContent {
            background-color: $color-tertiary;
        }
        &.six > .mpContent {
            background-color: $color-quaternary;
        }
        &.seven > .mpContent {
            background-color: $color-secondary;
        }
    }
}