// COURSE TOUR v3
.course-tour.opt3 {
    max-width: 1310px;
    // margin: 0 30px;
    padding: 0 1.5rem;
    // border-top: 2px solid #e0e0e0;

    @media (min-width:1200px) {
        margin-left: auto;
        margin-right: auto;
    }
    @media (max-width:1024px) {
        // padding-left: 15px;
        // padding-right: 15px;
    }
    &-parent {
        margin: 6.5625vw auto 5.2rem;
        .one-column + & {
            margin-top: 0;
        }
    }
    .container & {
        padding-left: 0;
        padding-right: 0;
        // padding-top: 6.5vw;
    }
    .card-panels + div > & {
        // padding-top: 40px;
    }
    > .container > .row > .col-12 > .mpContent {
        text-align: center;
        h4 {
            color: #63828f;
        }
        h5 {
            margin-bottom: 2rem;
        }
        
    }
    .RadTabStrip_Tab_responsive .levelwrap.level1 > ul {
        > li > a {
            // font-size: 1.8rem !important;
            // letter-spacing: 0.32rem;
            // font-weight: 400;
            padding-left: 2rem !important;
            padding-right: 2rem !important;
        }
        @media (min-width:1024px) {
            display: flex;
            justify-content: stretch;
            max-width: 1140px;
            > li {
                flex: 1;
                > a {
                    padding-left: 1.4rem !important;
                    padding-right: 1.4rem !important;
                    // padding-top: 2.3rem !important;
                    // padding-bottom: 2.6rem !important;
                }
            }
        }
    }
    [id$="_tblTop"] {
        &:last-child {
            margin-top: 0;
        }
        .tsContent {
            // background: $color-lightest !important;
            padding: 30px;
            @media (max-width:1199px) {
                padding: 30px;
            }
            @media (max-width:1024px) {
                padding: 30px 15px;
            }
            h4 {
                color: #426a7a;
                font-weight: 600;
                font-size: 1.6rem;
                letter-spacing: 1px;
            }
        }
    }
    [id$="_radTabsTop"] .levelwrap {
        //background: $color-tertiary !important;
        &.level1 > ul > li > a .innerWrap {
            letter-spacing: 0.438rem;
        }
        > ul {
            @media (max-width:1023px) {
                position: relative;
                text-align: left;
                padding: 0 0 0 135px !important;
                &:after {
                    content: 'Scroll for More \00a0\00a0\2192';
                    display: inline-block;
                    height: auto;
                    max-width: 185px;
                    position: absolute;
                    left: 15px;
                    top: 50%;
                    -webkit-transform: translateY(-50%);
                    transform: translateY(-50%);
                    z-index: 99;
                    text-transform: uppercase;
                    font-weight: 500;
                    font-family: $base-font-serif2;
                    font-size: 1.4rem;
                    line-height:1;
                    text-transform:uppercase;
                    letter-spacing: 0;
                    color: $tabstrip-unselected-font-color;
                    height:auto;
                    max-width:160px;
                }
            }
        }
    }
}

.hole-wrap {
    display: flex;
    max-width: 1210px;
    margin: 0 auto;
    justify-content: flex-start;
    align-items: center;
    .sitewrap & {
        @media (max-width:991px) {
            flex-wrap: wrap;
            > div {
                flex: 1 1 100% !important;
            }
        }
    }
    .hole-media-wrap {
        padding-right: 5.625vw;
        // flex: 1;
        @media (max-width:1199px) {
            padding-right: 3rem;
        }
        @media (max-width:991px) {
            margin-top: 30px;
        }
        .sitewrap & {
            font-size: 0;
            align-self: flex-start;
            @media (max-width:991px) {
                order: 1;
                padding-right: 0;
            }
        }
    }
    .hole-info-wrap {
        display: flex;
        flex-direction: column;
        flex: 0 1 500px;
        // background: $white;
        .abut {
            width: 100%;
            max-width: 207px;            
            @media (min-width:768px) {
                margin-top: 2.4rem;
            }
        }
        > div {
            &:first-child {
                flex: 0;
                margin-bottom: 1.5rem;
                h3 {
                    margin-bottom: 0.4em;
                    font-weight: 500;
                    color: $color-secondary;
                    font-size: 2.4rem;
                    font-family: $base-font-sans-serif;
                }
                > div {
                    font-size: 1.65rem;
                    font-weight: 700;
                    letter-spacing: 0.59px;
                    text-align: center;
                    text-transform: uppercase;
                    color: $white;
                    cursor: default;
                    margin: 0;
                    padding: 0;
                    min-width: 155px;
                    line-height: 44px;
                    float: left;
                    position: relative;
                    background-color: $color-lightest;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none; 
                    transition: background-color 0.2s ease;
                    &:before,&:after {
                        content: " ";
                        position: absolute;
                        top: 0;
                        right: -18px;
                        width: 0;
                        height: 0;
                        border-top: 22px solid transparent;
                        border-bottom: 22px solid transparent;
                        border-left: 18px solid $color-lightest;	
                        z-index: 2;
                        transition: border-color 0.2s ease;
                    }
                    &:before {
                        right: auto;
                        left: 0;
                        border-left: 17px solid #fff;	
                        z-index: 0;
                        border: none;
                    }
                }
            }
            &:last-child {
                // padding: 51px 40px 55px;
                @media (max-width:767px) {
                    // padding: 30px 15px;
                }
                
                h5 {
                    font-weight: 700;
                    color: $color-tertiary;
                    font-size: 1.6rem;
                    text-transform: none;
                    letter-spacing: 0;
                    margin-bottom: 0.4em;
                }
                p {
                    color: #8d8d8d;
                    // font-weight: 400;
                    strong {
                        color: #444444;
                    }
                }
                > div {
                    &:first-child {
                        font-weight: 400;
                        color: #666666;
                        line-height: 1.67;
                        letter-spacing: 0;
                        font-size: 1.8rem;
                        // text-transform: uppercase;
                        
                        > span, > font {
                            display: inline-block;
                            @media (min-width:992px) and (max-width:1199px) {
                                display: block;
                            }
                            &:nth-last-child(n+2) {
                                &:after {
                                    content: '';
                                    padding: 0 1.1rem;
                                }
                            }
                            @media (max-width:767px) {
                                display: block;
                                &:after {
                                    content: none !important;
                                }
                            }
                        }
                    }
                    &:nth-child(2) {
                        font-size: 1.6rem;
                        font-weight: 400;
                        letter-spacing: 0;
                        color: #666666;
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 2.5rem;
                        margin-top: 2.5rem;
                        // background-color: $white;
                        padding: 0;
                        @media (max-width:991px) {
                            margin-bottom: 0;
                            margin-top: 0;
                        }
                        @media (max-width:767px) {
                            flex-wrap: wrap;
                            // flex-direction: column;
                            //align-items: center;
                            justify-content: space-evenly;
                            
                            padding: 15px 0;
                            align-items: center;
                        }
                        > span, > font {
                            padding-top: 13px !important;
                            padding-bottom: 13px !important;
                            display: flex;
                            align-items: center;
                            @media (max-width:767px) {
                                padding: 5px 15px !important;
                            }
                            &:nth-child(n+2) {
                                padding-left: 1rem;
                            }
                            &:before {
                                content: '';
                                height: 12px;
                                width: 12px;
                                display: inline-block;
                                margin-right: 8px;
                                margin-bottom: 0;
                                vertical-align: middle;
                                border-radius: 50%;
                                border: 1px solid transparent;
                            }
                        }
                    }
                }
            }
        }
    }
}

.hole-info-wrap .blue:before {background-color:#1f3d8b;}
.hole-info-wrap .white:before {background-color:#ffffff;border-color:#979797 !important;}
.hole-info-wrap .gold:before {background-color:#a2926b;}
.hole-info-wrap .red:before {background-color:#c73e3e;}
.hole-info-wrap .black:before {background-color:#000000;}
.hole-info-wrap .green:before {background-color:#347e32;}
.hole-info-wrap .silver:before {background-color:#C0C0C0;}
.hole-info-wrap .turquoise:before {background-color:#01707e;}
.hole-info-wrap .copper:before {background-color:#ee7f1f;}