@import "helpers/variables";
@import "helpers/mixins";

// $black: #000;
// $white: #fff;

// $color-primary: var(--primary);

// $color-lightgray: var(--light);
// $color-darkgray: var(--dark);

// $color-lightest: $color-lightgray;
// $color-darkest: $color-darkgray;

// $base-font-color: #212529;
// $link-color: var(--primary);

$lis-wrapper-max-width: 1450; // omit unit
/* FILTERS VARIABLES */
$lis-filter-label-color: $color-primary;
$lis-filter-label-font-size: 1.4rem;
$lis-filter-label-font-weight: 600;
$lis-filter-label-font-family: $base-font-sans-serif;
$lis-filter-label-letter-spacing: 0.2rem;
$lis-filter-label-text-transform: uppercase;
$lis-slider-bar-color: #d0c9c5;
$lis-slider-bar-selected-range-color: $color-secondary;
$lis-slider-handle-bg-color: $color-primary;
$lis-slider-handle-border: none;
$lis-slider-handle-height: 1rem;
$lis-slider-handle-width: 1rem;
$lis-slider-handle-border-radius: 50%;
$lis-slider-range-values-text-transform: none;
$lis-slider-range-values-color: $color-tertiary;
$lis-slider-range-values-font-size: 1.6rem;
$lis-slider-range-values-font-weight: 400;
$lis-slider-range-values-letter-spacing: 0;

/* LISTINGS VIEW VARIABLES */
$lis-listing-flex-basis: 33.333333%;
$lis-listing-max-width: 487px;
$lis-price-font-family: $base-font-sans-serif;
$lis-price-font-size: 1.4rem;
$lis-price-font-weight: 600;
$lis-price-color: $color-primary;
$lis-price-letter-spacing: 0.1rem;
$lis-price-line-height: 1;
$lis-address-font-family: $base-font-serif;
$lis-address-font-size: 3rem;
$lis-address-font-weight: 400;
$lis-address-color: $color-primary;
$lis-address-letter-spacing: 0;
$lis-address-line-height: 1.33;
$lis-sqft-rooms-font-family: $base-font-sans-serif;
$lis-sqft-rooms-font-size: 1.7rem;
$lis-sqft-rooms-font-weight: 400;
$lis-sqft-rooms-color: $base-font-color;
$lis-sqft-rooms-letter-spacing: 0;
$lis-sqft-rooms-line-height: 1.76;


/* SINGLE LISTING VIEW VARIABLES*/
$li-address-font-family: $lis-address-font-family;
$li-address-font-size: 3.6rem;
$li-address-font-weight: $lis-address-font-weight;
$li-address-color: $lis-address-color;
$li-address-letter-spacing: $lis-address-letter-spacing;
$li-address-line-height: 1.22;

$li-stats-label-color: $color-primary;
$li-stats-label-font-weight: 600;
$li-stats-label-font-family: $base-font-sans-serif;
$li-stats-label-letter-spacing: 0.2rem;
$li-stats-label-text-transform: uppercase;

$li-hero-img-width: 716; // omit unit
$li-hero-img-height: 481; // omit unit
$li-hero-img-flex-basis: calc((#{$li-hero-img-width}/#{$lis-wrapper-max-width}) * 100%);
/*REAL ESTATE MODULE*/
.sitewrap.realestate-wrap {
    .realestatescripts {
        display: inline-block;
        width: 100%;
    }
    .mainContent {
        margin-bottom: 3%;
    }
    .realestate-wrapInner {
        text-align: left;
        padding: 1.5rem 1.5rem 3.5rem;
        //background-color: $white-lte;
        width: 100%;
        display: inline-block;
        background-image: url("../images/BGRepeat.jpg");
        @media (max-width:1199px) {
            // padding-left: 3rem;
            // padding-right: 3rem;
        }
        @media (max-width:767px) {
            padding: 5rem 1.5rem;
        }
        #relListingWrap {
            width:100% !important;
            > br {
                display: none;
            }
            #relListingActions {
                display:none !important;
            }
            #relListings {
                &.grid {
                    margin-left:-6px; 
                    margin-right:-6px;
                    display: flex !important;
                    flex-wrap: wrap;
                    justify-content: center;
                    text-align: center;
                    .relSingleListing {
                        border:0;
                        margin:0;
                        padding:0 6px;
                        //width:100%;
                        float:none;
                        margin-bottom: 0;
                        flex: 0 1 $lis-listing-flex-basis;
                        max-width: $lis-listing-max-width;
                        @media (max-width:1199px) {
                            // padding-bottom: 75px;
                        }
                        @media (max-width:991px) {
                            flex-basis: 50%;
                        }
                        @media (max-width:767px) {
                            flex-basis: 100%;
                            // padding-bottom: 60px;
                        }
                    }
                }
                .relSingleListing {                    
                    .item-card {
                        height:auto; 
                        // background: $white;
                        position: relative;
                        // box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
                        @media screen and (min-width:768px) {
                            //min-height: 575px;
                        }
                        .image {
                            position:relative; 
                            height:auto; 
                            overflow:hidden; 
                            background: $color-lightest;
                            background-repeat: no-repeat;
                            background-size: cover;
                            background-position: center center;
                            aspect-ratio: 475/350;
                            @media screen and (min-width:768px) {
                                //height:315px;
                            }
                            img {
                                width: 100%;
                                visibility: hidden;
                                @media screen and (min-width:450px) {
                                    //margin-top:-50px;
                                }
                                @media screen and (min-width:550px) {
                                    //margin-top:-100px;
                                }
                            }
                            > div {
                                width:100% !important; 
                                height:100% !important;
                            }
                        }
                        .photoCount {
                            
                            position:absolute;
                            bottom: 10px;
                            right: 20px;
                            color:#fff;
                            text-align: left;
                            text-shadow: 1px 1px 1px rgba(0,0,0,.8);
                            z-index: 2;
                            padding: 10px;
                            background:none;
                            font-weight:400;
                            font-size:16px;
                            padding: 0;
                            display: none;
                        }
                        .btnCheckAvail.textButton, .textButton {
                            border:0;
                            border-radius:0;
                            display:block;
                            padding:15px 0;
                            background-image:url(../../../../Images/book-arw.png);
                            background-repeat:no-repeat;
                            background-position: 90% center;
                            text-align:left;
                            text-transform:uppercase;
                            font-size:16px;
                            background-color:$color-secondary;
                            padding-left:30px;
                            color:#fff;
                            transition:all .3s ease-in-out;
                            &:hover {
                                text-decoration:none;	
                                color:#fff; 
                                background-color:#2488ba;
                            }
                        }
                        .lodgeRmDtls {
                            padding: 33px 50px 56px; 
                            text-align:center;
                            //min-height: 332px;
                            margin-bottom: 0;
                            position: relative;
                            @media screen and (max-width:1365px) {
                                padding-left: 30px;
                                padding-right: 30px;
                                //margin-bottom: 70px;
                            }
                            @media screen and (max-width:767px) {
                                padding: 20px 15px 50px;
                            }
                            > div {
                                //line-height: 2 !important;
                                //font-weight: 300;
                                //color: #444444;
                                //font-size: 1.8rem;
                                text-align: center;
                                //line-height: 1.72;
                                //padding: 2px 0;
                                //vertical-align: top;
                                @media screen and (max-width:1349px) {
                                    width: 100%;
                                }
                                > span {
                                    //font-weight: 700;
                                    //color: $color-primary;
                                    //text-transform: uppercase;
                                }
                                &.price {
                                    font-family: $lis-price-font-family;
                                    font-weight: $lis-price-font-weight;
                                    font-size: $lis-price-font-size;
                                    line-height: $lis-price-line-height;
                                    color: $lis-price-color;
                                    letter-spacing: $lis-price-letter-spacing;
                                    margin-bottom: 1.3em;
                                }
                                &.address {
                                    font-family: $lis-address-font-family;
                                    font-weight: $lis-address-font-weight;
                                    font-size: $lis-address-font-size;
                                    line-height: $lis-address-line-height;
                                    letter-spacing: $lis-address-letter-spacing;
                                    color: $lis-address-color;
                                    margin-bottom: 0.4em;
                                }
                                &.sq-footage,&.bed-bath {
                                    color: $lis-sqft-rooms-color;
                                    font-size: $lis-sqft-rooms-font-size;
                                    line-height: $lis-sqft-rooms-line-height;
                                    letter-spacing: $lis-sqft-rooms-letter-spacing;
                                    font-family: $lis-sqft-rooms-font-family;
                                    font-weight: $lis-sqft-rooms-font-weight;
                                }
                                &.bed-bath {
                                    .halfBaths0, .halfBaths1 {
                                        display: none;
                                    }
                                    .halfBathsDecimal {
                                        display: none;
                                        &.halfBaths1 {
                                            display: inline;
                                        }
                                    }
                                }
                                &.category {
                                    font-size: 2rem;
                                    letter-spacing: 2px;
                                    line-height: 1.55;
                                    font-weight: 500;
                                    color: #444444;
                                    margin-bottom: 4px;
                                }
                                
                            }
                            .title {
                                color:#036690;
                                font-size:22px !important;
                                padding-bottom:25px;
                                .desc {
                                    color:#000;
                                    font-size:16px !important;
                                }
                            }
                            
                            h4 {
                                margin:0 0 3px 0;
                                display: inline-block;
                            }
                            .item-info {
                                display:block;
                                margin-bottom:10px;	
                                line-height:17px;
                                &:before {
                                    content:"Ã¢â‚¬Â¢";
                                    margin-right:5px;
                                }
                            }
                            &.typeResidential {
                                
                            }
                            &.typeLand {
                                .sqFt,.bedrooms,.bathrooms {
                                    display: none;
                                }
                            }
                        }
                        .desc > div {
                            margin-bottom:10px;
                        }
                        .showMoreRoomDetails {
                            //background-color:#ae8d5a !important;
                            // width: calc(100% - 100px);
                            min-width: 66%;
                            //height:50px; 
                            //display: table;
                            margin-top: 3rem;
                            //text-transform: uppercase;
                            //letter-spacing: 3.7px;
                            //font-size: 1.2rem !important;
                            //font-weight: 700 !important;
                            cursor: pointer;
                            // color: #fff;
                            //padding: 19px 15px !important;
                            //line-height: 10px !important;
                            text-align:center;
                            z-index: 98;
                            text-decoration: none;
                            transition: all .3s ease;
                            @media screen and (max-width:1365px) {
                                // width: calc(100% - 60px);
                            }
                            @media screen and (max-width:767px) {
                                // width: calc(100% - 30px);
                                // padding-left: 10px !important;
                                // padding-right: 10px !important;
                            }
                            &:hover, &:focus {
                                // background-color: $button-bg-hover !important; 
                                //font-size:14px; 
                                // color:#fff;
                            }
                        }
                    }
                }
            }
        }
        #relFilterWrapper *, 
        #relListings * {
            box-sizing: border-box;
        }
        #relListingsWrapper {
            margin: 0 auto;
            max-width: #{$lis-wrapper-max-width}px;
            @media screen and (max-width:1024px) {
                //margin: 0 10px;
            }
            #adminBar > div,
            #actionBar > div {
                color:$link-color;
            }
        }
        #relFilterWrapper {
            // display: none;
            background: transparent;
            border: none;
            padding:15px 20px;
            position: relative;
            width:100%;
            height:100%;
            overflow:auto;
            //left:-260px;
            text-align: left;
            top: 0;
            z-index: 999;
            // max-width: 970px;
            margin: 0 auto;
            transition: all .3s ease-in-out;
            @media screen and (max-width:991px) {
                background: $white;
                position: fixed;
                left: -260px;
                width: 260px;
                box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, .25);
                padding-top: 50px;
                ul li {
                    width: auto !important;
                    float: none !important;
                    margin: 0 auto !important;
                }
                ul li#filterItemSortWrapper #relSortWrapper select#sortDirection {
                    width: auto !important;
                }
            }
            .close {
                // background: url(../../../../Images/close-btn.png) no-repeat 0 0;
                width: 24px;
                height: 24px;
                right: 15px;
                top: 15px; 
                position:absolute; 
                opacity:.7; 
                display: flex;
                align-items: center;
                justify-content: center;
                transition:opacity .3s ease-in-out;
                @media screen and (max-width:1024px) {
                    //display: block !important;
                }
                &:after {
                    content: "\2715";
                    font-size: 2.4rem;
                    color: $black;
                }
                &:hover {
                    opacity:1;
                }
            }
            > ul {
                margin-left: -15px !important;
                margin-right: -15px !important;
                display: flex !important;
                justify-content: space-evenly;
                @media screen and (max-width:991px) {
                    display: block !important;
                }
                &:after {
                    content: none;
                }
            }
            ul {
                li {
                    padding: 43px 15px 50px 15px !important;
                    border-top:0;
                    width:100%;
                    height: auto;
                    @media screen and (max-width:991px) {
                        padding-bottom: 20px !important;
                    }
                    .ui-slider {
                        .ui-slider-handle {
                            height: $lis-slider-handle-height;
                            width: $lis-slider-handle-width;
                            border-radius: $lis-slider-handle-border-radius;
                            background: $lis-slider-handle-bg-color;
                            border: $lis-slider-handle-border;
                            top: -4px;
                            margin-left: -5px;
                        }
                        .ui-widget-header {
                            &.ui-slider-range {
                                background: $lis-slider-bar-selected-range-color;
                            }
                        }
                    }
                    .label {
                        color:$lis-filter-label-color; 
                        font-size:$lis-filter-label-font-size;
                        text-transform: $lis-filter-label-text-transform;
                        font-family: $lis-filter-label-font-family;
                        letter-spacing: $lis-filter-label-letter-spacing;
                        font-weight: $lis-filter-label-font-weight;
                        padding: 0;
                    }
                    &#filterItemPrice {
                        //display: none;
                    }
                    #attributeSelectionLink {
                        background:#fff url(../../../../Images/drop-arw.png) no-repeat 95% 13px;
                        font-family: $base-font-sans-serif;
                        height:30px;
                        border:0;
                        display:block;
                        line-height: 30px;
                        padding: 0 10px;
                        width: auto;
                        font-size: 14px;
                    }
                    .modifyRange {
                        display:none !important;
                    }
                    .sliderValues {
                        font-weight: $lis-slider-range-values-font-weight; 
                        font-size: $lis-slider-range-values-font-size;
                        color: $lis-slider-range-values-color;
                        text-transform: $lis-slider-range-values-text-transform;
                        letter-spacing: $lis-slider-range-values-letter-spacing;
                    }
                    > input[type="text"] {
                        background: #f4f4f4; 
                        background-image: url(../../../../Images/drop-arw.png); 
                        background-position: 90% 50%; 
                        background-repeat: no-repeat;
                        border: none;
                        border-radius: 0px;
                        color: $color-secondary;
                        appearance: none;
                        height: 60px;
                        padding: 0 15px;
                        font-size: 1.75rem;
                        font-family: $base-font-sans-serif;
                        width: 100%;
                        max-width: 100%;
                        //min-width: 100%;
                        letter-spacing: 0;
                        text-transform: none;
                        font-weight: 500;
                        @media screen and (max-width:1199px) {
                            padding-left: 15px;
                        }
                        @media screen and (max-width:1024px) {
                            font-size: 1.6rem;
                        }
                        &.hasDatepicker {
                            width: 48% !important;
                            //width: 100px !important;
                            @media screen and (max-width:991px) {
                                width: 100% !important;
                                margin-bottom: 5px;
                            }
                        }
                    }
                    &#filterItemSortWrapper {
                        display: none;
                        @media screen and (min-width:769px) {
                            width: 100%;
                        }
                        @media screen and (max-width:768px) {
                            width: 100%;
                        }
                        #relSortWrapper {
                            width: 100%;
                            text-align: center;
                            select {
                                width: 120px;
                                max-width: 100%;
                                //min-width: 100%;
                                padding: 0 18px;
                                background: none;
                                border: 1px solid $color-secondary;
                                border-radius: 5px;
                                color: $color-secondary;
                                appearance: none;
                                text-indent: 0.01px;
                                text-overflow: "";
                                height: 40px;
                                letter-spacing: .025em;
                                font-size: 14px;
                                font-family: $base-font-sans-serif;
                                background: #fff; 
                                background-image: url(../../../../Images/drop-arw.png); 
                                background-position: 84% 17px; 
                                background-repeat: no-repeat;
                                &#sortListing {
                                    display: none;
                                }
                                &#sortDirection {                                    
                                    width: auto;
                                    padding-right: 40px;
                                    font-size: 11px !important;
                                    font-weight: 700 !important;
                                    text-transform: uppercase;
                                    letter-spacing: 3px;
                                    border: none;
                                    background-color: $color-tertiary;
                                    color: #fff;
                                    background-position: 87% 17px;
                                    background-image: url(../../../../Images/drop-arw-white.png);
                                    @media screen and (min-width:768px) {
                                        margin-left: 15px;
                                    }
                                }
                                @media screen and (max-width:767px) {
                                    width: 100% !important;
                                    background-position: 93% 17px;
                                    &#sortDirection {
                                        margin-top: 5px;
                                        margin-bottom: 15px;
                                        font-size: 16px !important;
                                    }
                                }
                            }
                        }
                    }
                    &#filterItemAttributes {
                        display: none !important;
                    }
                }
            }
            .custom-sel {
                position: relative; 
                overflow: hidden; 
                background: #f4f4f4; 
                background-image: url(../../../../Images/drop-arw.png); 
                background-position: 93% 23px; 
                background-repeat: no-repeat;
                select {
                    width: 100%;
                    max-width: 100%;
                    min-width: 100%;
                    padding: 0 30px;
                    background: none;
                    border: none;
                    border-radius: 0;
                    color: $color-secondary;
                    appearance: none;
                    text-indent: 0.01px;
                    text-overflow: "";
                    height: 60px;
                    letter-spacing: 0;
                    font-size: 1.75rem;
                    font-weight: 500;
                    font-family: $base-font-sans-serif;
                }
            }
            #attributeSelector ul li {
                float:none; 
                display:block; 
                text-align:left; 
                width:100%;
            }
            #attributeSelector .updateIt, #contactSelector .updateIt {
                background:$color-secondary; 
                color:#fff; 
                border:0;
            }
            .filterLabel {
                margin: 0 0 19px;
                // display: none;
                @media screen and (max-width:991px) {
                    display: block;
                }
            }
        }
        
        .filterBtn {
            //padding-left: 50px; 
            display: block;  
            margin: 0 auto 20px !important;
            width: calc(100% - 30px);
        }
        .ui-widget-content {
            border-radius: 8px;
            background: $lis-slider-bar-color;
            /*box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, .15);*/
            border: 0;
            margin-bottom: 10px;
        }
        
        @media screen and (min-width:992px) {
            .filterBtn, #relFilterWrapper .close {
                display:none;
            }
            #relFilterWrapper {
                position:relative;
                width:100%;
                height:auto;
                overflow: visible;
                left:auto;
                top: auto;
                //margin-bottom:47px;
                padding: 0;
                @media screen and (max-width:1024px) {
                    text-align: center;
                }
            }
            #relListingWrap #relListings.grid .relSingleListing {
                //width:50%;
                //float: left;                
            }
            #attributeSelector {
                top:auto !important; 
                left:auto !important;
            }
            .launch-refilter #relFilterWrapper {
                left:auto;
            }
            #relFilterWrapper ul li {
                // width:33.333333%;
                flex: 0 1 230px;
                @media screen and (max-width:1024px) {
                    //width: 100% !important;
                }
            }
            #relListings.grid .relSingleListing {
                //width:50%; 
                //float:left;
            }
            .engine-wrap.vacation .relSingleListing .item-card {
                height:600px;
            }
            #relListingWrap #relListings .relSingleListing {
                .item-card {
                    .image img {
                        //height: 315px; 
                        width:100%; 
                        margin-top:0;
                    }
                    .showMoreRoomDetails {
                        //width:100%;
                    }
                }
            }
            .content-wrap.single-list .btnCheckAvail.textButton {
                display:inline-block; 
                padding-right:80px; 
                background-image:url(../../../../Images/book-arw.png);
                background-repeat:no-repeat;
                background-position: 90% center; 
                padding-left:30px;
            }
        }
        @media screen and (min-width:992px) {
            #relFilterWrapper ul li {
                //width:50%;
                &#filterItemCategoryID, &#filterItemTypeID {
                    padding-left: 15px !important; 
                    //padding-right: 142px !important;
                }
                &#filterItemPrice,&#filterItemBr,&#filterItemFullBath,&#filterItemHalfBath {
                    //width: 33.333333%;
                    //padding-left: 35px !important; 
                    //padding-right: 35px !important;
                }
            }
            #relListingWrap #relListings.grid .relSingleListing {
                //width:33.3333333%;
                //float: left;
                &:nth-child(3n+1) {
                    //clear: left;
                }
                &:nth-child(2n+1) {
                    //clear: none;
                }
            }
            .relSingleListing {
                .item-card {
                    .image img {
                        //height: 315px;
                    }
                    .textButton {
                        padding-left:15px; 
                        background-position:95% center;
                    }
                }
            }
            .engine-wrap.vacation .relSingleListing .item-card {
                height:730px;
            }
        }
        @media screen and (min-width:1200px) {
            .relSingleListing .item-card {
                .textButton {
                    padding-left:30px; 
                    background-position:90% center;
                }
                .showMoreRoomDetails {
                    //width:100%;
                }
            }
            .engine-wrap.vacation .relSingleListing .item-card {
                height:600px;
            }
        }


        #actionBar {
            font-size: 0 !important;
            padding: 0 !important;
            > .backToResults {display:none;}
        }
        #relListings h1 {text-transform:none; color:#036690; font-weight:300; font-size:44px; padding:30px 0;}
        #relListings .relSingleListing {
            border:0; 
            padding:0;
            .content-wrap + .editLink {
                left: auto;
                right: 0;
                border-radius: 3px;
                padding: 5px 8px;
                text-transform: uppercase;
                background-color: $color-secondary;
            }
        }
        #relListings .content-wrap {font-weight:400; font-size:16px; padding: 15px;line-height: $base-line-height !important;
            @media (max-width:767px) {
                padding: 0;
            }
        }
        #relListings .title-wrap {
            padding: 30px 20px; 
            text-align: center;
            @media screen and (min-width:768px) {
                // padding-left: 70px;
                // padding-right: 70px;
                padding: 62px 70px;
                // margin-bottom: 50px;
            }
        }
        #relListings .title-wrap h3 {color:#036690; text-transform:uppercase; font-size:20px; margin-bottom:10px;}
        .list-back-btn {
            cursor:pointer; 
            color: $lis-filter-label-color; 
            display:block; 
            font-size:$lis-filter-label-font-size !important; 
            text-transform:$lis-filter-label-text-transform; 
            text-decoration:none !important; 
            line-height:1 !important;
            letter-spacing: $lis-filter-label-letter-spacing;
            font-weight: $lis-filter-label-font-weight;
            font-family: $lis-filter-label-font-family;
            text-transform: $lis-filter-label-text-transform;
            vertical-align: middle;
            &:before {
                content: "\e94b";
                font-family: Nucleo Mini;
                vertical-align: middle;
                font-size: $lis-filter-label-font-size;
                padding-right: 10px;
            }
        }
        .list-back-btn:hover {text-decoration:none;}
        .list-back-btn > span {margin-right:10px;}
        #relListings .inner-wrap {
            padding:15px 0;            
            @media (min-width:768px) {
                display: flex;
            }
        }
        .property-carousel {
            margin-bottom:20px;
            @media screen and (max-width:768px) {
                float: none !important;
                padding: 0 !important;
                width: 100% !important;
            }
        }

        .hero {
            margin-bottom:10px;
            &.noImg {
                background-color: $color-lightest;
                @media screen and (min-width:768px) {
                    min-height: 450px;
                }
            }
            img {width:100%;}
            .photoCount {display:none;}
            > div {width:100% !important; height:auto !important;}
        }
        .relSingleListing .imagesThumbnailsWrapper {padding:5px 0;}
        .imagesThumbnailsWrapper ul {
            margin-left:-5px !important; 
            margin-right:-5px !important;
            text-align: left;
            @media screen and (max-width:768px) {
                text-align: center;
            }
        }
        .imagesThumbnailsWrapper ul li {float:none; margin: 5px; padding:0; display:inline-block; line-height:normal; width:25%;/*height: 178px;*/overflow: hidden; background-repeat: no-repeat;background-size: cover;background-position: center center;cursor: pointer;
            @media screen and (max-width:768px) {
                width: calc(25% - 10px);
                height: auto !important;
            }
        }
        .imagesThumbnailsWrapper img {width:100%;opacity: 0;height: 100%;}
        .property-dtls {margin-bottom:40px; margin-left:-15px; margin-right:-15px;}
        .property-dtl {padding:0 15px; width:50%; float:left;}
        .property-dtl h4 {color:#036690; font-size:12px; font-weight:400;}
        .property-dtl span:before, .attr-wrap span:before {content:""; margin-right:5px; display:inline-block; width:5px; height:5px; background:url(../../../../Images/unit-desc-dot.png) no-repeat center; position:relative; top:-3px;}
        #propertyContact, #propertyContact:hover {text-align:left; background-image:url(../../../../Images/book-arw.png); padding:15px 80px 15px 30px; background-repeat:no-repeat; background-position:85% center; font-size:16px; letter-spacing:0; margin-bottom:40px;}
        .attr-wrap {max-width: 370px;}
        .attr-wrap span {display:inline-block;width:100%;float: left;vertical-align: top;line-height: 2 !important;}
        #relListings h4.rm-sub-title {margin-top: 20px;}
        
        .property-info {
            font-weight: 300;
            font-size: 1.4rem;
            line-height: 1.88;
            @media screen and (max-width:767px) {
                float: none !important;
                //padding: 0 !important;
                width: 100% !important;
            }
            > div {
                //line-height: 2 !important;
                font-weight: 300;
                display: inline-block;
                width: 100%;
                padding: 0;
                //margin-top: 2em;
                margin-bottom: 1.9em;
                > strong {
                    color: $li-stats-label-color;
                    font-weight: $li-stats-label-font-weight;
                    font-family: $li-stats-label-font-family;
                    letter-spacing: $li-stats-label-letter-spacing;
                    text-transform: $li-stats-label-text-transform;
                }
                > span {
                    // font-weight: 500;
                    // color: #444444;
                    // letter-spacing: 0.5px;
                    // line-height: 1.72;
                    // font-size: 1.8rem;
                }
                &.category {
                    font-weight: 500;
                    letter-spacing: 2px;
                    font-size: 2rem;
                    color: #444444;
                    margin-bottom: 15px;
                }
                &.bed-bath {
                    .halfBathsDecimal, .halfBaths0 {
                        display: none;
                    }
                    .halfBaths1 {
                        display: none;
                        &.halfBathsDecimal {
                            display: inline;
                        }
                    }
                }
                &.year {
                    &.d-none0 {
                        display: none;
                    }
                }
                &.acreage {
                    &.d-none0 {
                        display: none;
                    }
                }
                &.cta {
                    a {
                        margin-bottom: 1.5rem;
                        min-width: 37%;
                        @media screen and (max-width:767px) {
                            display: block;
                        }
                    }
                }
            }
            .attributes {
                font-size: 0;
                > span {
                    display: block;                                        
                    &:not(.info-label) {
                        position: relative;
                        padding-left: 10px;
                        font-size: $base-font-size;
                        text-transform: none;
                        color: $base-font-color;
                        font-weight: $base-font-weight;
                        &:before {
                            content: '-';
                            position: absolute;
                            left: 0;
                        }
                    }
                }
            }
            .floor {
                // font-weight: $li-stats-label-font-weight;
                // font-style: italic;
                // font-family: $li-stats-label-font-family;
                // color: #444444;
                // letter-spacing: 1px;
                // line-height: 1.55;
                // font-size: 2rem;
                //margin-bottom: 7px;
            }
            .price {
                // font-family: $li-stats-label-font-family;
                // font-weight: $li-stats-label-font-weight;
                // font-size: 1.6rem;
                // line-height: 1.5;
                // color: $color-primary;
                // margin-bottom: 0;
            }
            .sq-footage {
                // margin-bottom: 0;
            }
            .address {
                font-size: $li-address-font-size;
                font-family: $li-address-font-family;
                font-weight: $li-address-font-weight;
                letter-spacing: $li-address-letter-spacing;
                line-height: $li-address-line-height;
                color: $li-address-color;
                margin-bottom: 0.5em;
                //text-transform: uppercase;
            }
            .desc {
                
            }
            .abut-noarrow {
                margin: 2em 0 !important;
                @media screen and (max-width:767px) {
                    width: 100%;
                }
            }
        }
        .property-info {
            padding:0;
            // background: $white;
            // box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
            @media screen and (max-width:767px) {
                // padding: 15px;
            }
        }
        @media screen and (min-width:768px) {
            .attr-wrap span {width:50%;}
            .imagesThumbnailsWrapper ul li {
                //height: 178px;
                width:calc(20% - 10px);
            }
            #relListings .content-wrap {padding: 0;}
            #relListings .inner-wrap {padding: 0;}
            #relListings .title-wrap h3 {float:left; margin-bottom:0;}
            


            .hero {
                // padding-right:60px;
                flex: 0 0 $li-hero-img-flex-basis;
                max-width: #{$li-hero-img-width}px;

                @media screen and (width:768px) {
                    // padding-right: 15px !important;
                }
                @media screen and (max-width:767px) {
                    float: none !important;
                    padding: 0 !important;
                    width: 100% !important;
                }
            }
            .property-info {                
                flex: 1;  
                @media (min-width:992px) {
                    padding-left: 4vw;
                } 
                @media screen and (min-width:768px) and (max-width:991px) {
                    padding-left: 15px !important;
                }             
                .title {
                    color:#036690;
                    font-size:22px !important;
                    padding-bottom:25px;
                    .desc {
                        color:#000;
                        font-size:16px !important;
                    }
                }
                .cta {
                    display: flex;
                    gap: 15px;
                    margin-top: 2rem;
                }
                .item-info {
                    display:block;
                    margin-bottom:10px;	
                    line-height:17px;
                    &:before {
                        content:"Ã¢â‚¬Â¢";
                        margin-right:5px;
                    }
                }
                .abut {
                    //width: 100%;
                    //max-width: 370px;
                    display: inline-block;
                    float: left;
                    clear: both;
                    padding: 18px 33px 17px !important;
                    margin: 20px 0;

                    &[href="mailto:"] {
                        // display: none;
                    }
                }
                .property-dtl {
                    width:25%;
                }
            }            
        }       
    }
}

.modalDialogOverlay.relLightbox {
    background: rgba(119, 119, 119,0.7);
    .axisDialogBox.relLightbox {
        border: 10px solid #FFF;
    }
    .closeLightboxImage {
        color: $white;
        position: absolute;
        right: 15px;
        top: 15px;
        font-size: 2em;
        padding: 5px;
        cursor: pointer;
    }
}
#filterItemTypeID {
    //display: none;
}

#relFilterWrapper .mobileButton {
    font-size: 14px !important;
    text-transform: uppercase !important;
    font-weight: 700 !important;
    letter-spacing: .05em !important;
    margin: 20px 0 !important;
    padding: 20px 55px 21px !important;
    display: none !important;
    &[style*="none"] + .close {
        display: block !important;
    }
}

.launch-refilter {
    .ui-datepicker {
        z-index: 1000 !important;
    }
    #relFilterWrapper {
        left:0 !important;
        ul {
            display:block;
        }
        .abut {
            display:inline-block !important;
        }
        .mobileButton {
            display:none;
        }
    }
}

body.singleListing {
    .sitewrap:not(.essential).realestate-wrap .realestate-wrapInner {
        @media (min-width:$desktop-nav-min-brkpt) {
            padding-top: 16rem;
        }
    }
    .sitewrap:not(.essential).private.premier.realestate-wrap .realestate-wrapInner {
        @media (min-width:$desktop-nav-min-brkpt) {
            padding-top: 6.5rem;
        }
    }
    .sitewrap.realestate-wrap .realestate-wrapInner #relListingsWrapper, .sitewrap.realestate-wrap .realestate-wrapInner > h3 {
        @media screen and (min-width:768px) {
            max-width: 1170px;
            margin: 0 auto;
            padding: 0 10px;
        }
    }
    .banner, .container-fluid.one-column, .container-fluid.two-column, .container.one-column {
        display: none;
    }
}
